
#content {
    margin: 3em 5em;
    padding: 3em 5em;
    overflow: visible;
}

#timer, .task-time {
    float:right;
}
#stop, #start {
    float:left;
}

.task {
    padding: 2em;
    border-top: 1px solid #333;
}

.task div.taskdetails {
    display: none;
    width: 100%;
}

.task-selected {
    background-color: #dddddd;
}

.task-details-expanded div.taskdetails,
#taskdetails-unassigned {
    display: block !important;
    width: 100%;
    margin-top: 1em;
}

.discreet {
    color:#76797c;
}

/* Set different positioning on the portal status message. */
.portalMessage {
  align: center;
  top: 60px;

}

.tracker-book {
    display: block;
    margin-top: 1em;
}

form {
    display:inline;
}

.hidden-controls {
    display:none;
}


.task-title {
    cursor: pointer;
}

/* Start portalMessage settings from standard Plone */

dl.portalMessage a {
    color: black;
    border: none;
    text-decoration: underline;
}
dl.portalMessage dt {
    background-color: #996;
    border: 1px solid #996;
    font-weight: bold;
    float: left;
    margin: 0 0.5em 0 0;
    padding: 0.5em 0.75em;
    color: White;
    line-height: 1.25em;
}
dl.portalMessage dd {
    background-color: #ffffe3;
    border: 1px solid #996;
    padding: 0.5em 0.5em;
    margin: 0;
    line-height: 1.25em;
}

dl.warning {
    border-color: #d80;
}
dl.warning dt {
    background-color: #d80;
}
dl.error {
    border-color: #d00;
}
dl.error dt {
    background-color: #d00;
}
dl.warning {
    border-color: #d80;
}
dl.warning dd {
    background-color: #fd7;
}
dl.error {
    border-color: #d80;
}
dl.error dd {
    background-color: #fd7;
}

/* End portalMessage settings from standard Plone */

#overlay {
    display: none;
    position: absolute;
    top: 0pt;
    left: 0pt;
    width: 100%;
    height: 1000px;
    background-image: url(++resource++xm.tracker.images/overlay.png);
}
#overlay img {
    position: absolute;
    top: 350px;
    left: 300px;
}

#task_selection_form {
  display: block;
  position: absolute;
  left: 50px;
  width: 600px;
  height: 600px;
  overflow: auto;
  top: 50px;
  padding: 20px;
  background-color: white;
  z-index: 500;
}

.inline {
    display:inline;
}

/* Base css currently copied from CMFPlone */

body {
    font: 69% "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    background-color: White;
    color: Black;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}
table {
    font-size: 100%;
}
a {
    color: #436976;
    background-color: transparent;
}
img {
    border: none;
    vertical-align: middle;
}
p {
    margin: 0 0 0.75em 0;
    line-height: 1.5em;
}
p img {
    border: none;
    margin: 0;
}
hr {
    border: 0;
    height: 1px;
    color: #8cacbb;
    background-color: #8cacbb;
    margin: 0.5em 0 1em 0;
}
h1, h2, h3, h4, h5, h6 {
    color: Black;
    font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    margin: 0.75em 0 0.25em 0;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: Blac; ! important;
    text-decoration: none;
}
h1 {
    font-size: 160%;
}
h2 {
    font-size: 150%;
}
h3 {
    font-size: 125%;
    border-bottom: none;
    font-weight: bold;
}

ul {
    line-height: 1.5em;
    padding: 0;
}
ol {
    line-height: 1.5em;
    padding: 0;
}
li {
    margin-bottom: 0.5em;
}


.track-form {
    /* Separate visually from entry listing */
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: block;
}

/* Table mocked with divs as firefox makes a mockery out of our forms. */

div.entry_table_cell {
    display: inline;
}

/* Entry edit form: hide/show buttons */

form.edit-in-progress .hidden-controls {
    display:inline;
}

/* Separate tasks from the start/stop stuff at the top. */
.tracker-tasks {
    margin-top: 1em;
}

/* Site actions in the tracker area. */
#xm-siteactions {
  background-color:transparent;
  float:right;
  height:auto;
  line-height:normal;
  list-style-image:none;
  list-style-type:none;
  margin:1px 0pt 0pt;
  padding:3px 2em 3px 0pt;
  white-space:nowrap;
}

#xm-siteactions li {
  display:inline;
}

#xm-siteactions li a {
  background-color:transparent;
  border:1px solid White;
  color:#76797C;
  height:auto;
  margin-right:0.2em;
  padding:0.2em;
  text-decoration:none;
  text-transform:none;
  font-size: 95;
}

#xm-siteactions li a:hover {
  background-color:#dee7ec;
  border:1px solid #8cacbb;
}