/* 2DO note
      -timer - fix?
    -book buttons - are not disabled in IE
*/

.input-task, .entry_text_time_edit {
    margin: 4px 0 0 0;
	width: 27em; /*this width fixes a bug in some browser*/ 
}

.time {
	width: 3.5em; /*this width fixes a bug in some browser*/
}

.edit-entries {
    height: 32px;
}

.time_entry_entry_table_row {
    padding: 0 0 0 20px;
	clear: left;
}

.time-change {
    margin-left: 6px;
}
    
/* task  task-select/expanded color changer*/
.task-details-expanded .b2, .task-details-expanded .b3, 
.task-details-expanded .b4, .task-details-expanded .bcontent, 
.task-details-expanded .b4b, .task-details-expanded .b3b, 
.task-details-expanded .b2b, .task-selected .b2, 
.task-selected .b3, .task-selected .b4, 
.task-selected .bcontent, .task-selected .b4b, 
.task-selected .b3b, .task-selected .b2b{
    background-color: #eff8fb;
    border-left-color: #8cd2ec;
    border-right-color: #8cd2ec;
}

.task-details-expanded .b1, .task-details-expanded .b1b,
.task-selected .b1, .task-selected .b1b {
    background-color: #8cd2ec;
    border-left-color: #8cd2ec;
    border-right-color: #8cd2ec;
}


/* task task-expanded image changer*/
.task .task-title {
    background: url(++resource++xm.tracker.images/select_inactive.gif) no-repeat scroll 10px 4px; 
}

.task-details-expanded .task-title {
    background: url(++resource++xm.tracker.images/select_active.gif) no-repeat scroll 10px 4px; 
}


.unassigned-project {
    margin: 0;
    padding: 0;
}

#visual-wrapper {
    padding: 0;
    margin: 0 auto;
    background-color: #faf9f4;
    width: 957px;
}

.tracker-project h1, .unassigned-project h1 {
    clear: both;
    font-size: 140%;
    width: 798px;
    padding: 8px 0 4px 78px;
}

.tracker-project h1, #task_selection_form  h2 {
    color: #767676 !important;
}

#task_selection_form  h2 {
    font-size: 130%;
}

/*LS- this disables the default arrow in the tasks h2*/
.default_arrow {
    display: none;
}
 
.tracker-project {
    background-color: transparent;
    clear: both;
}

.timer-second{
    color: #969696;
}

#TrackTimer {
    background: #f9f7f0 url(++resource++xm.tracker.images/backgroundheader.gif) repeat-x;
    border-color: #fff #d6d4d4 #fff #fff;
    border-style: solid;
    border-width: 1px;
    height: 26px;
    padding: 3px 0;
}

#TimeTrackerHeader {
    background: #35B4E0 url(++resource++xm.tracker.images/breadcrumbs_bg.gif) repeat-x scroll 0 0;
    border-color: #4AABCB #75DBFF #CFCFCF #4AABCB;
    border-style: solid;
    border-width: 1px;
	height: 20px;
    color: #fff;
    font-size: 100%;
    margin: 0;
    padding: 0 0 0 43px;
	line-height: 18px;
}

#timer, .task-time{
    float: right;
    display: block;
    text-align: right;
    margin: 0;
    padding: 2px 0;
}
    
#timer{
    font-size: 160%;
    position: relative;
    right: 128px;
}

.task-time{
    position: relative;
    right: 35px;
}

#project-header a{
    background-color: transparent;
    color: #21bee8;
    font-size: 190%;
    font-weight: bold;
    padding-left: 40px;
    position: relative;
    top: 28px;
    white-space: nowrap;
}

.header-container{
    background: #fefefe url(++resource++xm.tracker.images/background_top.gif) no-repeat 0 0;
    height: 60px;
}

.detail-lines-top, .detail-lines-top, .project-bottom-border{
    display: block;
    overflow: hidden; 
    height: 1px;
}

.detail-lines-top {
    height: 1px;
    background: #cfcfcf;
    border-top: 1px solid #f1efe8;
}
    
.detail-lines-bottom {
    display: block;
    overflow: hidden;
    height: 2px;
    background: #ebeae6;
    border-top: 1px solid #bebebe;
    border-bottom: 1px solid #d8d5ca;
}

.project-bottom-border {
    height: 1px;
    background: #e3e3e3;
    border-style: solid;
    border-width: 1px;
    border-color: #FAF9F4 #e3e3e3 #ccc #e3e3e3; 
    margin-top: 20px;
}

.detail-line-project {
    display: block;
    height: 10px;
    background: blue;
}

.discreet {
 padding: 0 38px;
}

.task-title {
    font-size: 140%;
    display: block;
    cursor: pointer;
    padding: 4px 12px 4px 38px;
    margin-top: 0;
}

.task-title-unassigned {
    font-size: 140%;
    display: block;
    cursor: pointer;
    padding: 0 8px 0 38px;
    margin-top: 8px;
}

.time_entry {
    padding: 0 0 0 24px;
}

form, .input-task, .book-form, .hidden-controls, 
.savers, .book-button, .entry_table, 
.remove-entry, .tracker-book {
    float: left;
}

.tracker-book {
    clear: both;
    padding: 4px 0;
}

/* begin start-timer button */
#startstop {
    float: right;
    position: relative;
    right: 142px;
}

.start-button {
    clear: both;
    float: left;
    background: transparent url(++resource++xm.tracker.images/side-left-green.gif) no-repeat ;
    padding: 0 0 0 4px;
}

#start-timer{
    float: left;
    margin: 0;
    padding: 4px;
    height: 26px;
    color: #255c04;
    background: #bafc51 url(++resource++xm.tracker.images/gradient-green.gif) repeat-x;
    border: 0;
    cursor: pointer;
}

.start-button span{
    background: transparent url(++resource++xm.tracker.images/side-right-green.gif) no-repeat;
    float: left;
    width: 4px;
    height: 25px;
}
 /* end start-timer button */

/* begin select-task button */
.SelectTasks {
    margin-left: 27px;
}

#select-tasks {
    text-align: left;
    padding: 0;
    padding: 2px 0 2px 14px;
    color: #436976;
    background: url(++resource++xm.tracker.images/arrow_green_inactive.gif) no-repeat 0 center;
    border: 0;
    cursor: pointer;
}
 /* end select-task button */

 /* begin stop-timer button */
.stop-button {
    float: left;
    background: url(++resource++xm.tracker.images/side-left-red.gif) no-repeat transparent;
    padding: 0 0 0 4px;
}

#stop-timer{
    display: inline;
    float: left;
    margin: 0;
    padding: 4px;
    height: 26px;
    color: #580404;
    background: #ff956c url(++resource++xm.tracker.images/gradient-red.gif) repeat-x;
    border: 0;
    cursor: pointer;
}

.stop-button span{
    background: transparent url(++resource++xm.tracker.images/side-right-red.gif) no-repeat;
    float: left;
    width: 4px;
    height: 25px;
}
 /* end stop-timer button */

 .tracker-book {
    display: block !important;
    /* don't forget -this width COULD give problems :) */
    width: 100%;
    padding: 0 0 14px 24px;
}
 
  /* begin grey buttons */
.task-buttons, .register, .book, .savers,
#add-tasks, #cancel_add_tasks, .track-time, 
.book-button, .edit-entries-save, .edit-entries-cancel,
.task-buttons span, .register span, .book span, .savers span, .savers span {
	float: left;
}
  
.task-buttons, .register, .book, .savers{

    background: transparent url(++resource++xm.tracker.images/side-left-grey.gif) no-repeat 4px 0;
    padding: 0 0 0 8px;
}

#add-tasks, #cancel_add_tasks, .track-time, .book-button, .edit-entries-save, .edit-entries-cancel{
    padding: 4px;
    height: 26px;
    background: #d8d6cf url(++resource++xm.tracker.images/gradient-grey.gif) repeat-x;
    border: 0 !important;
    cursor: pointer;
  }

.task-buttons span, .register span, .book span, .savers span, .savers span{
    background: transparent url(++resource++xm.tracker.images/side-right-grey.gif) no-repeat;
    width: 4px;
    height: 25px;
}

 /* end grey buttons*/
 
 /*  begin task rounded borders */
.task {
    margin: 0 0 10px 40px;
    width: 800px;
}

.bcontent, .b1, .b2, .b3, 
.b4, .b1b, .b2b, .b3b, 
.task .b4b {
    display: block; 
    overflow: hidden; 
}

.b1, .b2, .b3, .b1b, 
.b2b, .b3b {
    height: 1px;
}

.b2, .b3, .b4 {
    background-color: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.bcontent {
    background-color: #fefefe;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    height: 100%;
    padding: 0 0 2px 0;
}

.b4b, .b3b, .b2b {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.b1 {
    margin: 0 5px;
    background-color: #ccc;
}
 
.b2, .b2b {
    margin: 0 3px;
    border-width: 0 2px;
}

.b3, .b3b {
    margin: 0 2px;
}

.b4, .b4b {
    height: 2px;
    margin: 0 1px;
}

.b1b {
    margin: 0 5px;
    background: #ccc;
}

.b2b {
    background: #e5e2e2;
}

.b3b {
    background: #f4f3f3;
}

.b4b {
    background: #fff;
}
/*  end task rounded borders  */ 


.task div.taskdetails {
    display: none;
    width: 100%;
}

.tracker-tasks{
    background-color: transparent;
}

.task-details-expanded div.taskdetails  {
    display: block !important;
    width: 100%;
}

.discreet {
    color:#76797c;
    background-color: transparent;
}

/* Set different positioning on the portal status message. */
form {
    display: inline;
}

.hidden-controls {
    display:none;
}

.remove-entry {
  clear: both;
  margin: 0;
  padding: 0;
  position: relative;
  right: 8px;
  top: 5px;
}

/* Start portalMessage settings from standard Plone */

.portalMessage {
    clear: both;
    padding: 0;
    margin: 0 2px 0 10px;
    font-size: 90%;
}

dl.portalMessage a {
    display: inline;
    color: black;
    border: none;
    text-decoration: underline;
}
dl.portalMessage dt {
	background-color: #35B4E0;
	border-width: 1px;
	border-style: solid;
	border-color: #BFE1EB;
	color: White;
	float: left;
	font-weight: bold;
	line-height: 1.26em;
	margin: 0 0.5em 0 0;
	padding: 0 5px 2px;
}
dl.portalMessage dd {
	background-color: #FBFDFE;
	border-width: 1px;
	border-style: solid;
	border-color: #BFE1EB;
	color: #1C718E;
	margin: 10px 0;
	padding: 0 0 0 50px;
	line-height: 1.5em;
}
dl.error dd, dl.warning dd {
	color: #b00804;
}
dl.error dd,
dl.error dt,
dl.warning dd,
dl.warning dt {
    border-color: #d00;
}
dl.warning dd,
dl.error dd {
    background-color: #fd7;
}
dl.warning dt, 
dl.error dt {
    background-color: #d00;
}
/* End portalMessage settings from standard Plone */

#overlay {
    /* background-image: url(++resource++xm.tracker.images/overlay.png); */
    /* the overlay background is now used on task_selection_form */
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#overlay img {
    position: absolute;
    top: 125px;
    left: 45%;
    z-index: 102;
}

#task_selection_form {
    background-image: url(++resource++xm.tracker.images/overlay.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding-bottom: 200px;
}

#task_selection_form_content {
    background-color: white;
    border: 2px solid #CCCCCC;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    padding: 10px 0 20px 20px;
    position: relative;
    top: 50px;
    width: 800px;
    z-index: 500;
}

#task_selection_form  h1{
    font-size: 200%;
    color: #43A0C1;
    width: 100%;
}

.inline {
    display:inline;
}

/* Base css currently copied from CMFPlone */

body {
    font: 69% "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    background: #f3f2ec;
    color: Black;
    margin: 0;
    padding: 0;
}
table {
    font-size: 100%;
}
a:link{
    color: #017096;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #2797bd;
    text-decoration: underline;
}

img {
    border: none;
    vertical-align: middle;
}
p {
    margin: 0 0 0.75em 0;
    line-height: 1.5em;
}
p img {
    border: none;
    margin: 0;
}
hr {
    border: 0;
    height: 1px;
    color: #8cacbb;
    background-color: #8cacbb;
    margin: 0.5em 0 1em 0;
}
 h1, h2, h3, h4, h5, h6 {
    font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    margin: 0.75em 0 0.25em 0;
}
#timer, .task-with-entries .task-title, .task-title-unassigned,
h1, h2, h3, h4, h5, h6 {
    color: #3E3E3E;
}
.task-without-entries .task-title {
    color: #808080;
    font-weight: normal;
}
#project-header a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-decoration: none;
}

ul {
    line-height: 1.5em;
    padding: 0;
}
ol {
    line-height: 1.5em;
    padding: 0;
}
li {
    margin-bottom: 0.5em;
}


.track-form {
    /* Separate visually from entry listing */
    padding: 5px 0 18px 38px;
    display: block;
}

/* Table mocked with divs as firefox makes a mockery out of our forms. */

div.entry_table_cell, form.edit-in-progress .hidden-controls  {
    display: block;
    float: left;
}

/* Site actions in the tracker area. */
#xm-siteactions {
  background-color:transparent;
  float:right;
  height:auto;
  line-height:normal;
  list-style-image:none;
  list-style-type:none;
  margin:2px 0 0;
  padding:3px 22px 3px 0;
  white-space:nowrap;
}

#xm-siteactions li {
  display:inline;
}

#xm-siteactions li a {
  background-color:transparent;
  border:1px solid White;
  color:#76797C;
  height:auto;
  margin-right:0.2em;
  padding:0.2em;
  text-decoration:none;
  text-transform:none;
}

#xm-siteactions li a:hover {
    color: #fff;
    background-color: #4bb6de;
    text-decoration: underline;
}

.orphaned-task { background-color: #f60; }