/* 2DO note
      -timer - fix?
    -book buttons - are not disabled in IE
*/
    
.SelectTasks {
    float: left;
    padding: 0 0 0 58px;
}

#input-task, .entry_text_time_edit {
    margin: 4px 0 0 0;
}

.edit-entries {
    height: 32px;
}

.time_entry_entry_table_row {
    clear: both;
    padding: 0 0 0 24px;
}

#time-change {
    margin-left: 6px;
}
    
/* task  task-select/expanded color changer*/
.task-details-expanded .b2, .task-details-expanded .b3, 
.task-details-expanded .b4, .task-details-expanded .bcontent, 
.task-details-expanded .b4b, .task-details-expanded .b3b, 
.task-details-expanded .b2b, .task-selected .b2, 
.task-selected .b3, .task-selected .b4, 
.task-selected .bcontent,.task-selected .b4b, 
.task-selected .b3b, .task-selected .b2b{
    background-color: #efede6;
}


/* task task-expanded image changer*/
.task .task-title {
    background: url(++resource++xm.tracker.images/select_active.gif) no-repeat scroll 10px 0px; 
}

.task-details-expanded .task-title {
    background: url(++resource++xm.tracker.images/select_active.gif) no-repeat scroll 10px -28px; 
}


.unassigned-project {
    margin: 0;
    padding: 0;
}

#visual-wrapper {
    padding: 0;
    margin: 0 auto;
    background-color: #faf9f4;
    width: 999px;
}

.project-bottom-border {
    background: #a1a1a1;
    border-style: solid;
    border-width: 1px;
    border-color: #e3e3e3 #a1a1a1 #ccc #a1a1a1; 
    margin-top: 24px;
}

.tracker-project h1{
    width: 798px;
    padding-bottom: 6px;
}

.tracker-project h1, #task_selection_form  h2 {
    color: #808080 !important;
}

.tracker-project {
    background-color: transparent;
    padding-bottom: 10px;
}

.detail-line-project {
    display: block;
    height: 10px;
    background: blue;
}

.timer-second{
    color: #969696;
}

#TrackTimer {
    background: #f1efe8 url(++resource++xm.tracker.images/backgroundheader.gif) repeat-x;
    border-color: #fff #d6d4d4 #fff #fff;
    border-style:solid;
    border-width:1px;
    height: 26px;
    padding: 4px 82px 4px 28px;
}

#TimeTrackerHeader {
    background: #35b4e0;
    border-color: #2797bd #75dbff #cfcfcf #2797bd;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    font-size: 10pt;
    font: center;
    margin: 0;
    padding: 1px 0 3px 39px;
}

#timer, .task-time{
    float: right;
    display: block;
    text-align: right;
    background-color: #fefefe;
    border-top: 1px solid #e4e3de;
    border-right: 1px solid #fefefe;
    border-bottom: 1px solid #d1d2d2;
    border-left: 1px solid #fff;
    height: 24px;
    margin: 0;
}

#timer{
    margin: 0 0 0 10px;
    padding-right: 29px;
    padding-left: 28px;
}

.task-time{
    padding-right: 31px;
    padding-left: 30px;
}

#project-header{
    padding-top: 13px;
    padding-bottom: 14px;
}

#project-header a{
    color:#43a0c1;
    font-size:200%;
    font-weight:bold;
    padding: 0 0.5em 0 1em;
    white-space: nowrap;
}

.header-container{
    background: #fefefe;
}

.detail-lines-top, .detail-lines-bottom, .project-bottom-border{
    display: block;
    overflow: hidden; 
    height: 1px;
}

.detail-lines-top{
    border-top: 1px solid #f1efe8;
    background: #cfcfcf;
}
    
.detail-lines-bottom{
    background: #bebebe;
    border-bottom: 1px solid #e3e1da;
}

.discreet {
 padding: 0 42px;
}

.task-title {
    display: block;
    cursor: pointer;
    padding: 3px 12px 3px 41px;
    margin-top: 4px;
}

.task-title-unassigned {
    display: block;
    cursor: pointer;
    padding: 0 20px 0 34px;
    margin-top: 4px;
}

.time_entry {
    padding: 0 0 0 24px;
    clear
}

form, #input-task, #book-form, .hidden-controls, 
.savers, .book-button, .entry_table, 
.remove-entry, .tracker-book{
    float: left;
}

.tracker-book {
    clear: both;
    padding: 4px 0;
}

/* begin start-timer button */
#startstop {
    float: right;
}

.start-button {
    clear: both;
    float: left;
    background: url(++resource++xm.tracker.images/side-left-green.gif) no-repeat transparent;
    padding: 0 0 0 4px;
}

#start-timer{
    float: left;
    margin: 0;
    padding: 4px;
    height: 26px;
    color: #255c04;
    background: url(++resource++xm.tracker.images/gradient-green.gif) repeat-x #bafc51;
    border: 0;
    cursor: pointer;
}

.start-button span{
    background: url(++resource++xm.tracker.images/side-right-green.gif) no-repeat transparent;
    float: left;
    width: 4px;
    height: 25px;
}
 /* end start-timer button */

/* begin select-task button */
.select-button{
    clear: both;
    float: left;
    background: url(++resource++xm.tracker.images/side-left-blue.gif) no-repeat transparent;
    padding: 0 0 0 4px;
}

#select-tasks{
    float: left;
    margin: 0;
    padding: 4px;
    height: 26px;
    color: #04515c;
    background: url(++resource++xm.tracker.images/gradient-blue.gif) repeat-x #a4e8ff;
    border: 0;
    cursor: pointer;
  }

.select-button span{
    background: url(++resource++xm.tracker.images/side-right-blue.gif) no-repeat transparent;
    float: left;
    width: 4px;
    height: 25px;
}
 /* end select-task button */
 
 /* begin stop-timer button */
.stop-button {
    float: left;
    background: url(++resource++xm.tracker.images/side-left-red.gif) no-repeat transparent;
    padding: 0 0 0 4px;
}

#stop-timer{
    float: left;
    margin: 0;
    padding: 4px;
    height: 26px;
    color: #580404;
    background: url(++resource++xm.tracker.images/gradient-red.gif) repeat-x #ff956c;
    border: 0;
    cursor: pointer;
}

.stop-button span{
    background: url(++resource++xm.tracker.images/side-right-red.gif) no-repeat transparent;
    float: left;
    width: 4px;
    height: 25px;
}
 /* end stop-timer button */

 .tracker-book {
    display: block !important;
    /* don't forget -this width COULD give problems :) */
    width: 100%;
    padding: 0 0 0 24px;
}
 
  /* begin grey buttons */
.task-buttons, .register, .book, .savers{
    float: left;
    background: url(++resource++xm.tracker.images/side-left-grey.gif) no-repeat transparent 4px 0;
    padding: 0 0 0 8px;
}

#add-tasks, #cancel_add_tasks, #track-time, .book-button, .edit-entries-save, .edit-entries-cancel{
    float: left;
    margin: 0;
    padding: 4px;
    height: 26px;
    background: url(++resource++xm.tracker.images/gradient-grey.gif) repeat-x #d8d6cf;
    border: 0;
    cursor: pointer;
  }

.task-buttons span, .register span, .book span, .savers span, .savers span{
    background: url(++resource++xm.tracker.images/side-right-grey.gif) no-repeat transparent;
    float: left;
    width: 4px;
    height: 25px;
}

 /* end grey buttons*/
 
 /*  begin task rounded borders */
.task {
    display: block;
    background-color: transparent;
    clear: both;
    margin-bottom: 10px;
    width: 800px;
}

.bcontent, .b1, .b2, .b3, 
.b4, .b1b, .b2b, .b3b, 
.task .b4b {
    display: block; 
    overflow: hidden; 
}

.b1, .b2, .b3, .b1b, 
.b2b, .b3b {
    height: 1px;
}

.b2, .b3, .b4 {
    background-color: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.bcontent {
    background-color: #fefefe;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    height: 100%;
    padding: 0 0 2px 0;
}

.b4b, .b3b, .b2b {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.b1 {
    margin: 0 5px;
    background-color: #ccc;
}
 
.b2, .b2b {
    margin: 0 3px;
    border-width: 0 2px;
}

.b3, .b3b {
    margin: 0 2px;
}

.b4, .b4b {
    height: 2px;
    margin: 0 1px;
}

.b1b {
    margin: 0 5px;
    background: #ccc;
}

.b2b {
    background: #e5e2e2;
}

.b3b {
    background: #f4f3f3;
}

.b4b {
    background: #fff;
}
/*  end task rounded borders  */ 


.task div.taskdetails {
    display: none;
    width: 100%;
}

.tracker-tasks{
    background-color: transparent;
    margin: 0;
    padding: 10px 0 0 0;
}

.task-details-expanded div.taskdetails  {
    display: block !important;
    width: 100%;
}

.discreet {
    color:#76797c;
    background-color: transparent;
}

.tracker-project h1, .task {
    margin-left: auto !important;
    margin-right: auto !important;
}

/* Set different positioning on the portal status message. */
.portalMessage {
  display: block;
  float: right;
  top: 60px;
  margin-right: 82px;

}

form {
    display:inline;
}

.hidden-controls {
    display:none;
}

.remove-entry {
  clear: both;
  margin: 0;
  padding: 0;
  position: relative;
  right: 8px;
  top: 4px;
}

/* Start portalMessage settings from standard Plone */

dl.portalMessage a {
    color: black;
    border: none;
    text-decoration: underline;
}
dl.portalMessage dt {
    background-color: #35b4e0;
    border: 1px solid #2797BD;
    font-weight: bold;
    float: left;
    margin: 0 5px 0 0;
    padding: 5px 7px;
    color: #fff;
    line-height: 1.25em;
}
dl.portalMessage dd {
    background-color: #fffddb;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 0;
    line-height: 1.25em;
    width: 290px;
}

dl.warning {
    border-color: #d80;
}
dl.warning dt {
    background-color: #d80;
}
dl.error {
    border-color: #d00;
}
dl.error dt {
    background-color: #d00;
}
dl.warning {
    border-color: #d80;
}
dl.warning dd {
    background-color: #fd7;
}
dl.error {
    border-color: #d80;
}
dl.error dd {
    background-color: #fd7;
}

/* End portalMessage settings from standard Plone */

#overlay {
    background-image: url(++resource++xm.tracker.images/overlay.png);
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#overlay img {
    position: absolute;
    top: 160px;
    left: 45%;
}

#task_selection_form {
    background-color: white;
    display: block;
    height: 600px;
    left: 20%;
    overflow: auto;
    padding: 20px;
    position: absolute;
    top: 50px;
    width: 600px;
    z-index: 500;
}

#task_selection_form  h1{
    background-color: #43A0C1;
    color: #fff;
    padding: 2px 0 2px 10px;
    width: 100%;
}

.inline {
    display:inline;
}

/* Base css currently copied from CMFPlone */

body {
    font: 69% "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    background: #f3f2ec;
    color: Black;
    margin: 0;
    padding: 0;
}
table {
    font-size: 100%;
}
a {
    color: #436976;
    background-color: transparent;
}
img {
    border: none;
    vertical-align: middle;
}
p {
    margin: 0 0 0.75em 0;
    line-height: 1.5em;
}
p img {
    border: none;
    margin: 0;
}
hr {
    border: 0;
    height: 1px;
    color: #8cacbb;
    background-color: #8cacbb;
    margin: 0.5em 0 1em 0;
}
 h1, h2, h3, h4, h5, h6 {
    font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    margin: 0.75em 0 0.25em 0;
}
#timer, .task-title , .task-title-unassigned,
h1, h2, h3, h4, h5, h6 {
    color: #3E3E3E;
}
#project-header a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: Blac; ! important;
    text-decoration: none;
}
#project-header , h1 {
    font-size: 160%;
}

h2 {
    font-size: 150%;
}
h3 {
    font-size: 125%;
    border-bottom: none;
    font-weight: bold;
}

ul {
    line-height: 1.5em;
    padding: 0;
}
ol {
    line-height: 1.5em;
    padding: 0;
}
li {
    margin-bottom: 0.5em;
}


.track-form {
    /* Separate visually from entry listing */
    padding: 5px 0 18px 42px;
    display: block;
}

/* Table mocked with divs as firefox makes a mockery out of our forms. */

div.entry_table_cell, form.edit-in-progress .hidden-controls  {
    display: inline;
    float: left;
}

/* Site actions in the tracker area. */
#xm-siteactions {
  background-color:transparent;
  float:right;
  height:auto;
  line-height:normal;
  list-style-image:none;
  list-style-type:none;
  margin:1px 0 0;
  padding:3px 2em 3px 0;
  white-space:nowrap;
}

#xm-siteactions li {
  display:inline;
}

#xm-siteactions li a {
  background-color:transparent;
  border:1px solid White;
  color:#76797C;
  height:auto;
  margin-right:0.2em;
  padding:0.2em;
  text-decoration:none;
  text-transform:none;
  font-size: 95;
}

#xm-siteactions li a:hover {
  background-color:#dee7ec;
  border:1px solid #8cacbb;
}
